:root { --desktop-content-width: 1250px; }
:root { --darkest-color: #070F2B; }
:root { --body-background-color: #1B1A55; }
:root { --upload-section-background-color: #535C91; }
:root { --link-color: #9b9ac9; }
:root { --accent-color: #F6B17A; }

@font-face {
    font-family: 'Inter';
    src: url('../../uploads/fonts/inter/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../uploads/fonts/inter/Inter-Light-BETA.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../uploads/fonts/merriweather/Merriweather-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../uploads/fonts/merriweather/Merriweather-Bold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: var(--body-background-color);
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--accent-color);
}

.main-content {
    max-width: var(--desktop-content-width);
    margin: auto;
}

.file-list { 
    margin: 20px 0; 
}

.file-item { 
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

.file-item img { 
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 5px; 
    margin-right: 10px; 
}

.file-item span { 
    flex-grow: 1; 
    margin-left: 10px; 
}

.file-item select.file-format {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    background-color: var(--darkest-color);
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.file-item select.file-format option {
    background-color: var(--darkest-color);
    color: white;
}

.file-item button { 
    margin-left: 5px; 
}

.progress { 
    margin-left: 10px; 
    width: 100px; 
    height: 10px; 
    background: #ccc; 
    border-radius: 5px; 
    overflow: hidden; 
}

.progress-bar { 
    height: 100%; 
    width: 0%; 
    background: #4caf50; 
    transition: width 0.3s; 
}

.upload-section {
    background-color: var(--upload-section-background-color);
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 0 40px -20px black;
    margin: 50px 0;
}

.upload-section h1, h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

/* BANNER SECTION */
.suggested-banner {
    background-color: var(--darkest-color);
    margin-bottom: 50px;
    padding: 20px 0;
    width: 100vw; /* Viewport width */
    margin-left: calc(-50vw + 50%); /* Adjust left alignment */
}

.suggested-banner-wrapper {
    max-width: var(--desktop-content-width);
    margin: auto;
}

.suggested-banner .tool-links {
    display: flex;
    gap: 20px;
    padding-left: 0;
}

.suggested-banner .tool-links li {
    list-style-type: none;
}